<main>
    <div class="background banner-About aboutr" style="background-image:url(./assets/images/AboutEstateNest1.jpg)">
    
       </div> 
          
          
          
          <section class="message">
          <div class="container">
              <h3>Your Financial Future Is In Your Own Hands<br><span> Get Insured</span></h3>
        <div class="row">  
           <div class="col-md-6 col-sm-12"> 
           <div class="about-svg">
                 <div class="item">
                 <div class="ow-img">
                 <img src="assets/images/ceo.jpg" alt="CEO'S MESSAGE">
                 </div>
                 <h4> "<b>Financial Planning</b>" is the kindest gesture that brings "<b>Family Harmony</b>"</h4>
                 </div>
             </div>   
             </div> 
          
          <div class="col-md-6 col-sm-12"> 
          <div class="message-s">
              <h2>CEO'S MESSAGE</h2>
              <p>I believe in the philosophy that success is built on turst and hardwork. Accomplishment in business is all about building relationships with your clients.
                  Our clients are at the heart of everything we do and we would not have it any other way.
                  We are committed to offer empowering financial knowledge to their patrons, to provide them with simplified financial solutions for their multifaceted necessity.Our undertaking is to protect their estate and grow their return on investments and gain respect among our clientele with honesty and integrity. 
              </p>
 
              <div class="author-info p-t20">
                 <div class="author-signature">
                 <img src="assets/images/singher.jpg" width="150" alt="Kanwar Sharma">
                 <h4>Kanwar Sharma</h4>
                 <p>Co-Founder, Estate Nest Capital Inc.</p>
                 </div> 
                 <div class="flexbutton">
                 <a class="btn-1 comon-btn" href="https://www.mshgroups.com/estatenest/en">Get A Travel Quote</a>                                      
                 <a class="btn-1 comon-btn" routerLink="/contact">Get Started</a>     
                </div>                                 
                 </div>
 
 
               
             </div>  
             </div>  
        </div>
        </div>
        </section>
    
  
        <section class="Our provided">
        <div class="container">
        <div class="provided">
         <h2>Here is a little more about our services</h2>
              </div> 
         <div class="provided">   
          <owl-carousel-o [options]="aboutlifeslider">
            <ng-template carouselSlide>
               <div class="Life-Insurance actieve ">  
              <img src="assets/images/term-insurance.png">
            <h5>Term Insurance</h5>
            <p>Cost-effective contract that insures life at a level premium for a limited period of the timeline (10, 20, 25, 30, 35, 40-year term) </p> 
          </div></ng-template>  
            <ng-template carouselSlide>
               <div class="Life-Insurance">  
              <img src="assets/images/Permanent-Insurance.png">
            <h5>Whole Life Insurance</h5>
            <p>Whole life insurance where dividends are earned from company's surplus and gets accumulated on yearly tax-sheltered basis </p> 
          </div>
        </ng-template>  
            <ng-template carouselSlide>
               <div class="Life-Insurance">  
              <img src="assets/images/universal-insurance.png">
            <h5>Universal Insurance</h5>
            <p>Flexible permanent life insurance that 
              combines life Insurance with investment component which are market based </p> 
          </div>
        </ng-template>   
          <ng-template carouselSlide>
             <div class="Life-Insurance">  
            <img src="assets/images/group-benefits.png">
          <h5>Group Health Dental Plan</h5>
          <p>Better the benefits, stronger is the business, helps hardworking employees stay protected from the ever-rising cost of health care not covered by government-funded plans </p> 
        </div>
      </ng-template>
          <ng-template carouselSlide>
            <div class="Life-Insurance">  
            <img src="assets/images/travel-insurance.png">
          <h5>Super Visa Travel Insurance</h5>
          <p>Super Visa Travel Insurance cover parents and grandparents of canadian citizens or permanent residents (PR) who are travelling to canada for 365 days/ 2 years for lOOK. Pre-existing conditions can be covered </p> 
        </div>
      </ng-template>
          <ng-template carouselSlide>   
            <div class="Life-Insurance">  
            <img src="assets/images/Critical-Insurance.png">
         <h5>Critical Insurance</h5>
         <p>Critical illness insurance helps to safeguard you against the devastating calamitous and catastrophic diseases and the financial hardships that an individual and their families suffer
           </p>
         </div>
       
      </ng-template>

          <ng-template carouselSlide>
            <div class="Life-Insurance">  
            <img src="assets/images/Disability-Insurance.png">
         <h5>Wage Loss Replacement Plan</h5>
         <p>Tax-effective way to provide income replacement protection for your client's employees to provide short-term disability (STD), long-term disability (LTD) or weekly indemnity (WI) benefits </p> 
       </div>
      </ng-template>
          <ng-template carouselSlide>
             <div class="Life-Insurance">  
            <img src="assets/images/investments.png">
            <h5>Investments - RESPs | RRSPs | TFSAs</h5>
            <p>Strategic financial investment plans help families achieve your retirement goals with investment planning around your unique financial needs </p> 
          </div>
        </ng-template>
          <ng-template carouselSlide> 
             <div class="Life-Insurance">  
            <img src="assets/images/estate-planning.png">
            <h5>Estate Planning</h5>
            <p>Safeguarding inheritance & passing assets to your family and estate by having advanced estate and tax-planning advice & strategies. </p> 
          </div>
        </ng-template>
          </owl-carousel-o>
         
          </div>   
          <div class="text-center aboutsl">
            <div class="flexbutton">
              <a class="btn-1 comon-btn" href="https://www.mshgroups.com/estatenest/en">Get A Travel Quote</a>                                      
              <a class="btn-1 comon-btn"  href="https://estatenest.ca/get-quote/">Get a QUOTE</a>      
             </div>  
         
         </div>
          </div>
          </section> 
     
    <section class="roceket">
 <div class="container">
 <div class="center-rok">
     <img src="assets/images/rocket.png">
 </div>
 
 </div>
 
 
    </section>
    <section class="cmmpanylogo">
      <div class="container">
        <div class="all-logo">
          <h3>Life Insurance Companies We Can Offer</h3>
          <owl-carousel-o [options]="lifeslider">
            <ng-template carouselSlide>
               <div class="company-logo">  
             <a href="https://www.assumption.ca/" target="_blank"> <img src="assets/images/slider-logo/Life/assumption-lifelogo.png">
             </a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo">  
            <a href="https://www.beneva.ca/en" target="_blank"><img src="assets/images/slider-logo/Life/beneva.jpg"></a>
       
     </div>
   </ng-template>  
   <ng-template carouselSlide>
    <div class="company-logo">  
      <a href="https://www.bmo.com/insurance" target="_blank"><img src="assets/images/slider-logo/Life/BMo--Life.png"></a>
   
 
</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.canadalife.com/" target="_blank"> <img src="assets/images/slider-logo/Life/Canada_Life_logo.png"></a>

</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.cpp.ca/" target="_blank"><img src="assets/images/slider-logo/Life/canadaprotection.jpg"></a>

</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.desjardins.com/" target="_blank"><img src="assets/images/slider-logo/Life/Desjardins.png"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.equitable.ca/" target="_blank"> <img src="assets/images/slider-logo/Life/Equitable-Life-of-Canada.png"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.faithlifefinancial.ca/" target="_blank"><img src="assets/images/slider-logo/Life/Faith-Life-Financial.png"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.foresters.com/" target="_blank"><img src="assets/images/slider-logo/Life/foresters-financial.jpg"></a>

</div>
</ng-template> 
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.humania.ca/en-CA/individual" target="_blank"><img src="assets/images/slider-logo/Life/Humania.png">
 </a>
</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://ia.ca/individuals" target="_blank"><img src="assets/images/slider-logo/Life/industrial-alliance.png"></a>

</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://ivari.ca/" target="_blank"><img src="assets/images/slider-logo/Life/ivari-logo-biling.svg"></a>

</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.rbcinsurance.com/personal-1.html" target="_blank
 "><img src="assets/images/slider-logo/Life/RBC-life-insurance.png"></a>

</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
<a href="https://specialtylifeinsurance.ca/" target="_blank"><img src="assets/images/slider-logo/Life/Specialty-life-insurance.png">
</a>
</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.sss.gov.ph/sss/" target="_blank"><img src="assets/images/slider-logo/Life/sss-insurance.jpg"></a>

</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://uvinsurance.ca/" target="_blank"><img src="assets/images/slider-logo/Life/UV-Mutual.png">
 </a>
</div>
</ng-template>
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.wawanesalife.com/" target="_blank"><img src="assets/images/slider-logo/Life/wawanesa-life.jpg"></a>

</div>
</ng-template>
        </owl-carousel-o>
        </div>

      </div>
    </section>
    <section class="cmmpanylogo">
      <div class="container">
        <div class="all-logo">
          <h3>Group Insurance Companies We Can Offer</h3>
          <owl-carousel-o [options]="groupslider">
            <ng-template carouselSlide>
               <div class="company-logo">  
             <a href="https://www.ab.bluecross.ca/" target="_blank"> <img src="assets/images/slider-logo/Group-Logo/ab-Blue.png"></a>
            
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo">  
         <a href="https://www.bbd.ca/" target="_blank"><img src="assets/images/slider-logo/Group-Logo/Benefits-By.png">
         </a>
     </div>
   </ng-template>  
   <ng-template carouselSlide>
    <div class="company-logo">  
   <a href="https://www.edgebenefits.com/" target="_blank"><img src="assets/images/slider-logo/Group-Logo/Edge-Benefits.png"></a>
 
</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
 <a href="https://www.groupsource.ca/" target="_blank"><img src="assets/images/slider-logo/Group-Logo/group-source.png"></a>

</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.sunlife.com/en/" target="_blank"><img src="assets/images/slider-logo/Group-Logo/Sun-Life.png"></a>

</div>
</ng-template>  
       
        </owl-carousel-o>
        </div>

      </div>
    </section>

    <section class="cmmpanylogo">
      <div class="container">
        <div class="all-logo">
          <h3>Travel Insurance Companies We Can Offer</h3>
          <owl-carousel-o [options]="logoslider">
            <ng-template carouselSlide>
               <div class="company-logo">  
             <a href="https://www.21stcenturytips.com/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/trevst-Century.jpg"></a> 
            
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="company-logo">  
            <a href="https://www.allianztravelinsurance.com/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/allianz.jpg"></a>
       
     </div>
   </ng-template>  
   <ng-template carouselSlide>
    <div class="company-logo">  
      <a href="https://www.pac.bluecross.ca/" target="_blank"> <img src="assets/images/slider-logo/Travel-Logos/blue-cross.jpg"></a>
 
</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.desttravel.com/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/destination.jpg"></a>

</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.gms.ca/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/gms-health.jpg"></a>

</div>
</ng-template>  
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.ingleinternational.com/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/ingle.jpg"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.jfgroup.ca/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/isurance-agence.png"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.rimiconsulting.com/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/rimi.jpg"></a>

</div>
</ng-template>   
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.travelance.ca/" target="_blank"> <img src="assets/images/slider-logo/Travel-Logos/travelance.jpg"></a>

</div>
</ng-template> 
<ng-template carouselSlide>
  <div class="company-logo">  
    <a href="https://www.travelshield.ca/" target="_blank"><img src="assets/images/slider-logo/Travel-Logos/travel-shielcd.png"></a>

</div>
</ng-template> 

        </owl-carousel-o>
        </div>

      </div>
    </section>
        <section class="malta-history">
        <div class="container">
        <div class="provided provided-company">
         <h2>Better Safe Than Sorry</h2>
              </div>    
            </div> 
          </section> 
  
      </main> 
         