<main>
    <div class="background banner-About aboutr " style="background-image:url(./assets/images/blogEstateNest1.jpg)">
    </div>
           
          <section class="blog-section">
          <div class="container">
         <div class="row">  
            <div class="col-md-4 col-sm-12 mb-5"> 
                <div class="main-blog">
                <img src="assets/images/blog3.jpg">
                <div class="blog-content">
                <h5>What Happens AT Death</h5>
                <div class="admin">
                <img src="assets/images/logo.svg"> 
                <p><strong>By admin</strong><br>
                    September 5, 2020</p>
                   </div> 
               <p>Contact Your Broker
  <br>Contact the life insurance company, inform the death and stop the premiums
         </p>
                  <a class="button lorip" routerLink="/details">Read More</a> 
        
               </div>  
               </div>  
             </div>
        
          <!--- <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog1.png">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
              </div>  
              </div>  
            </div>  
           
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog2.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
            </div>   
           
        
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog4.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
            </div>  
           
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog5.png">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
            </div>   
           
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog6.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
              </div>
 
  
        
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog7.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
             </div>  
           
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog8.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
            </div>   
           
           <div class="col-md-4 col-sm-12 mb-5"> 
               <div class="main-blog">
               <img src="assets/images/blog9.jpg">
               <div class="blog-content">
               <h5>Which allows you to pay 
                   down your policy.</h5>
               <div class="admin">
               <img src="assets/images/admin.png"> 
               <p><strong>By admin</strong><br>
                   September 5, 2020</p>
                  </div> 
              <p>Lorem ipsum dolor sit amet, 
                 consectetur adipiscing elit, sed do ...</p>
                 <a class="button lorip" href="#">Lorem ipsum</a> 
       
              </div>  
              </div>  
              </div>  --->
              </div>
                
             <nav aria-label="Page navigation">
                 <ul class="pagination">
                     <li class="active"><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                     <li><a href="#">1 <span class="sr-only">(current)</span></a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                   </ul>
             </nav>   
               
               
               </div>
              </section> 
      </main>  
      
