<header>
    <div class="container">
    <div class="main-header">
    <div class="logo">
      <a routerLink="./home"><img src="assets/images/logo.svg" alt="Estate Nest Logo"></a>
     </div>
     <ul class="manu">
     <div class="close-menu">
     <img src="assets/images/close.png" alt="cross" >
     </div>
   <li><a routerLink="./">Estate Nest</a></li>
   <li><a routerLink="./about">About</a></li>
   <li><a routerLink="./insurance">Insurance</a></li>
   <li><a routerLink="./investment">Investment</a></li>
   <li><a routerLink="./estateplanning">Estate Planning</a></li>
   <li><a routerLink="./blog">Blog</a> </li>
   <li><a routerLink="./contact">Contact</a></li>
   </ul>
   <ul class="search-defalt">
   <!--<li><a href=""><i class="fas fa-search"></i></a></li>-->
   <li><a class="btn-1 comon-btn" routerLink="./contact">Talk To An Advisor</a></li>
     </ul>
     <div class="hamberger">
     <span class="line"></span> 
     <span class="line"></span> 
     <span class="line"></span> 
      </div>
      </div>
      </div>
   </header>