<main>

<div class="ethics">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Code of Ethics</h1>
                <p>Buying life insurance is very hectic opaque and stressful. Protecting one’s family and their assets is on the minds
                    of millions of Canadians. Estate Nest Inc. provides instant, no-obligation affordable life insurance quotes, and their
                    advisors are honest, and they keep it simple. We make every effort to work in the client’s best interests. In particular,
                    client’s interests and their financial needs are taken high precedence and come before Estate Nest Inc.’s or its advisors’
                    best interests or the best interests of any Canadian life insurance company we represent, to the extent allowed by the
                    law.</p>

                    <h4 class="mt-4 mb-2">Relationship with Insurers:</h4>
                    <p>No insurer holds ownership or interest in the business of Estate Nest Inc, nor do Estate Nest Inc hold an interest
                        in any insurance company they represent. We are duly registered in the province of Alberta and Ontario offering
                        financial services products. Estate Nest Inc. is authorized to sell life insurance, simplified life insurance, living benefits
                        (critical insurance, disability insurance, health, drug, and dental plans), group benefits, and segregated investments in
                        the province of Alberta and Ontario, with plans to expand the license in British Columbia very soon.</p>

                        <h4 class="mt-4 mb-2">Compensation:</h4>
                        <p>If you choose to purchase a product through Estate Nest Inc, the company will receive remuneration from the
                            life insurance company that offers the product. Compensated by sales commission, may also receive renewal (or service)
                            commissions from the insurer where clients decide to keep the policy or the contract in-force. Estate Nest Inc may also
                            be eligible for additional compensation, such as bonuses, non-monetary benefits, and travel incentives, depending on
                            various factors such as the volume or persistency of the business that they place with a particular life insurance
                            company. The company may also receive compensation in the form of a referral fee for the recommendation of the
                                product.</p>
                                <p>As a part of our discussions pertaining to product requirements and selection, the amount of compensation
                                    received will not play any factor in the recommendations made to you, as those recommendations are solely based on
                                    your financial needs analysis [information for the financial situation of the clients are solely disclosed by the clients
                                    themselves which allows the advisors at Estate Nest Inc. to do their financial / insurance needs analysis]. Estate Nest Inc.
                                    completely relies in this information provided by the clients and will not verify this information unless requested by the
                                    underwriters keeping in mind the underwriting guidelines.</p>
                                    <h4 class="mt-4 mb-2">Conflicts of Interest:</h4>
                                    <p>Estate Nest Inc. takes the potential conflict of interest very seriously. Our advisor will notify you verbally, and in
                                        writing if there is a potential or real conflict of interest of which the company becomes aware. Estate Nest Inc.’s overall
                                        recommendations are unbiased and, where possible, are based on an independent survey of companies which provide
                                        the products the client is interested in.</p>
                                        <h4 class="mt-4 mb-2">Other Business Activity:</h4>
                                        <p>The recommendations for any financial product suggested and or offered is done after a careful review and is
                                            solely based on the information provided by the client themselves during financial needs analysis; from the broad range
                                            of products from various companies as mentioned. Growing and protecting your assets is paramount of your financial
                                            health. Estate Nest Inc. encourages their clients to take the time to carefully read policy and the account information to
                                            ensure their full understanding. Please do not hesitate to contact us if you have any further questions and or need
                                            clarification on the recommended products, or the nature of my business relationships.</p>
                                            <p>Further, we strictly follow the ethics laid out by <a href="https://www.clhia.ca/">Canadian Life and Health Insurance Association Inc. (CHLIA) </a> and
                                                are fully committed to conducting our business in accordance with the following principles:</p>

                                                <ul class="advertise">
                                                    <li><p>To engage in keen, fair competition so that the public can obtain the products and services it needs at
                                                        reasonable prices.</p></li>
                                                        <li><p>To advertise products and services clearly and straightforwardly, and to avoid practices that might mislead or
                                                            deceive.</p></li>
                                                            <li><p>To ensure that illustrations of prices, values and benefits are clear and fair, and contain appropriate disclosure of
                                                                amounts that are not guaranteed.</p></li>
                                                                <li><p>To write all contracts in clear, direct language without unreasonable restrictions.</p></li>
                                                        <li><p>To use underwriting techniques that are sound and fair.</p></li>
                                                        <li><p>To pay all valid claims fairly and promptly and without unreasonable requirements.</p></li>
                                                            <li><p>To ensure competent and courteous sales and service.</p></li>
                                                            <li><p>To respect the privacy of individuals by using personal information only for the purposes authorized and not
                                                                revealing it to any unauthorized person.</p></li>
                                                            <li><p>We strongly advise clients to consult a certified financial planner (CFP) and their chartered professional
                                                                accountants (CPA) for a detailed advice on their financial situation and taxation guidelines. We strongly suggest
                                                                contacting your Trust and Estate Practitioner (TEP) for any estate planning guidance.</p></li>
                                                           
                                                </ul>
            </div>
        </div>
    </div>
</div>



</main>
