<main> 
    <div class="background banner-About aboutr investment-planning " style="background-image:url(./assets/images/estate-planning-banner.png)">
     </div> 
 
 
 <section class="Estate-planning"> 
 
     <div class="container"> 
 
     <h4 class="cursive">SAFEGUARDING INHERITANCE
         ​PASSING ON LEGACY IS NOT DISGRACEFUL</h4> 
  
     <h2 class="charge">Estate Planning</h2> 
  
  
  <p>As an individual, you have worked hard in life to make sure you pass on all your treasured assets (liquid & fixed) to your loved ones. By having a will you want an assurance that your hard-earned money will bring a world of difference in their lives.</p>
  
  <p>​Your family will not have to take charge and obligations to hire lawyers, executors, financial planners, and accountants to make decisions on the assets after your demise. They will not be going through lengthy and cumbersome processes in courts to settle estate matters since you took time to streamline things for them by Estate Planning. </p>
  
  
  <div class="car-content registeredd">
     <h4>Lawful Lingo:</h4>   
      <p><span><b>Estate:</b></span>  Estate is the sum of the monetary funds and the possessions owned by an individual in their lifespan that can be transitioned and distributed to the nominated beneficiary in the course of a lifetime or at the point of death by the owner as per their will</p>
      
      <p><span><b>Estate Planning:</b></span> Estate Planning:  is a well-organized strategy that entails set of all the significant legal countersigned documents, which make sure the estate passes to loved ones</p>
      
      <p><span><b>Will  & Testament:</b></span> Will is a written doctrine that allows an individual to distribute their properties and possessions after their demise to their inheritance. Will reveals a designated executor who distributes the properties as per last wishes and comes into force at the time of death. Type of will:-</p>
 
     <ul>
         <li><p><span><b>Formal Will:</b></span>  Prepared by the lawyer</p></li> 
         <li><p><span><b>Holograph Will:</b></span> Handwritten</p></li> 
         <li><p><span><b>Will Kits:</b></span> Available from stationery store</p></li>  
     </ul>
 
      <p><span> <b>Intestate:</b></span> When an individual dies without a will the properties and the   monetary funds will be distributed as per provisions of Intestate Succession Act</p>
                
      <p><span> <b>Probate:</b></span> The lawful process accepted by the courts to carry out estate planning and determining the legitimacy of the will</p>
           
      <p><span> <b>Trust:</b> </span> Lawful entity formed to hold and safeguard the assets without probate</p>
       
      <p><span><b>Example Assets:</b></span> Assets exempted and relieved by provincial laws from passing through probate</p>
           
      <p><span><b>Financial Power of Attorney:</b></span> This is a lawful contract signed by an individual that gives authority to a third individual to make financial decisions on their behalf in their absence</p>
           
      <p><span> <b>Health Power of Attorney:</b></span> This is a lawful contract that gives an individual to make health care decisions on your behalf when you are incapable of making them on your own. The document allows the designated individual to withdraw the life support as per the individual’s wishes as mentioned within the document</p>
      
      <p> <span> <b>Beneficiary:</b></span> The designated individuals, and charities mentioned in the lawful contracts who will receive the proceeds of the estate after the demise of the owner. Beneficiaries can be Revocable [changed without the consent of the beneficiary], or irrevocable (need the countersigned written consent of the beneficiary before they are changed). Any asset with the beneficiary designation is exempted from going through probate</p>
 </div>
 
 
 
  <h4 class="cursive rtu">"Estate Planning is the kindest gesture that brings family harmony"</h4>
 
 
 </div>
 </section>
 
 
 
          </main>    
