<main>
    <div class="terms-condtion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-3">Terms and Conditions
                        Introduction</h1>
                        <p>Welcome to Estate Nest Inc Brokerage. (“Estate Nest Inc”, “we”, “us”, “I”, and/or “our” as used in this Terms of Service).
                            We provide insurance quote comparison, insurance advisory tools and other related services (the “Services”). The
                            definition of Site also includes any and all related webpages and access to any optimized version of our Site via a
                            computer, wireless device, our online services, mobile services, and software. These Terms of Service (“Terms”) govern
                            your access to and use of the Site, including without limitation to apply for, and purchase any insurance policy through
                            us and our subsidiaries, affiliates, and representatives. These Terms are legally binding between you, the person
                            accessing or using this Site, your duly authorized representatives, and any entity you may represent in connection with
                            your use of the Services and Estate Nest Inc.</p>
                            <p>Estate Nest Inc is licensed life insurance brokerage in Ontario, and Alberta. We are governed by the Financial Services
                                Regulatory Authority of Ontario (“FSRA”), the Alberta Insurance Council (AIC) in respective provinces. We offer
                                personalized insurance advice to our Site visitors by offering them digital tools that can help assess their insurance needs
                                and suggest appropriate insurance products.</p>
                                <p>Our advice is based on information provided by Site visitors, third-party tools, data feeds, open source, and other
                                    partner data. We are not an insurance company, instead as a licensed insurance brokerage, we, and our representatives,
                                    provide you with recommendations about and facilitate the purchase of life and related insurance products from a
                                    broad set of insurance companies, licensed to sell insurance in your province. We strongly advise to consult a certified
                                    financial planner and your chartered professional accountants for a detailed advise on your financial situation and
                                    taxation guidelines.</p>
                                    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website,
                                       <a href="https://estatenest.ca">www.estatenest.ca</a>  accessible at </p>
                        <p>These Terms will be applied entirely and impact to your use of this Website. By using this Website, you are in complete
                            agreement to accept and recognize all terms and conditions written in here. You must not use Website if you disagree
                            with any of these Website Standard Terms and Conditions. If you disagree, please leave this website and or its pages.
                            Minors or people below 18 years old are not allowed to use this Website. If found using this website we sincerely
                            request the parents, and or guardians, and or any adult above 18 present with the minor(s) to kindly the request and ask
                            the minor(s) to close the website links.</p>
                            <h4 class="mt-4 mb-3">Intellectual Property Rights</h4>
                            <p>Other than the content you own, under these Terms, Estate Nest Inc. <a href="https://estatenest.ca">( www.estatenest.ca )</a> and/or its licensors own all
                                the intellectual property rights and materials contained in this Website.</p>
                                <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>
                
                                <h4 class="mt-4 mb-3">Restrictions</h4>
                                <p>You are expressly restricted from all the following:</p>
                                <ul class="restrictions">
                                    <li><p>Publication of the any of the Website material in any other media.</p></li>
                                    <li><p>Selling, sublicensing and/or otherwise commercializing any Website material.</p></li>
                                    <li><p>Publicly presenting and/or displaying any Website material.</p></li>
                                    <li><p>Using this Website in any way that is or may be damaging to this Website, and impacts user access to this
                                        Website.</p></li>
                                    <li><p>Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or
                                        to any person or business entity.</p></li>
                                    <li><p>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this
                                        Website.</p></li>
                                    <li><p>Using this Website to engage in any advertising or marketing of any kind.</p></li>
                              <li><p>Certain areas of this Website are restricted from being access by you and Estate Nest Inc. may further restrict
                                access by you to any areas of this Website, at any time, in absolute discretion. The website and Estate Nest Inc
                                respects privacy laws within Canada and Canadian Anti-Spam Legislation (CASL), you must respect and adhere to
                                these and agree with these. If you disagree, we strongly recommend you stop the use of this website
                                immediately.</p></li>
                              <li><p>Perform any fraudulent and deceptive activity, including impersonating any individual or entity, claiming false
                                and misleading affiliations, accessing and retrieving the information from the accounts of other users without
                                consent, or falsifying and fabricating your own identity or any information about you, including name, age or
                                date of birth, sex, phone number, email, address; or other information.</p></li>
                            
                              
                                </ul>
                

                                <h4 class="mt-4 mb-3">What Services do we provide?</h4>
                                <p>The Services we provide include:</p>
                                <ul class="restrictions">
                               <li><p><b>Obtaining quotes – </b>We provide you with insurance quotes for the requested product issued by the life
                                insurance companies in Canada with whom we are contracted with. We allow you to save and retrieve such
                                quotes for easy future access.</p></li>
                                <li><p><b>Comparing policies –</b>We offer easy-to-use tools and summarized information to help you compare different
                                    policies and the quotes from the life insurance companies in Canada with whom we are contracted with.</p></li>
                                <li><p><b>Reviewing insurance needs –</b>We include informational and computational tools that offer recommendations to
                                    help you assess your insurance needs. The needs analysis is solely based on the information provided by the
                                    clients. Estate Nest Inc will not make an attempt and try to verify this information unless it is requested by the
                                    underwriters from the life insurance company. We assume at all the time the clients are telling the truth in
                                    regard to their current financial situation and their needs. If you disagree with our insurance needs policy, we
                                    strongly suggest you as a client to find another advisor and work with them and or their organization.</p></li>
                                <li><p><b>Proprietary content (“Content”) –</b>We offer easy-to-understand information material to disseminate knowledge
                                    and information about insurance products.</p></li>
                                <li><p><b>Buying insurance products –</b>As insurance brokers, we and our representatives facilitate purchase of life and
                                    related insurance products for your insurance needs.</p></li>
                                <li><p></p></li>
                                <li><p></p></li>
                                </ul>

                
                            </div>
            </div>
        </div>
    </div>
</main>
