<main>
    <div class="terms-condtion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-3">Terms and Conditions
                        Introduction</h1>
                        <p>Welcome to Estate Nest Inc Brokerage. (“Estate Nest Inc”, “we”, “us”, “I”, and/or “our” as used in this Terms of Service).
                            We provide insurance quote comparison, insurance advisory tools and other related services (the “Services”). The
                            definition of Site also includes any and all related webpages and access to any optimized version of our Site via a
                            computer, wireless device, our online services, mobile services, and software. These Terms of Service (“Terms”) govern
                            your access to and use of the Site, including without limitation to apply for, and purchase any insurance policy through
                            us and our subsidiaries, affiliates, and representatives. These Terms are legally binding between you, the person
                            accessing or using this Site, your duly authorized representatives, and any entity you may represent in connection with
                            your use of the Services and Estate Nest Inc.</p>
                            <p>Estate Nest Inc is licensed life insurance brokerage in Ontario, and Alberta. We are governed by the Financial Services
                                Regulatory Authority of Ontario <a href="https://www.fsrao.ca/" target="_blank">(“FSRA”)</a> the Alberta Insurance Council <a href="https://www.abcouncil.ab.ca/ " target="_blank"> (AIC) </a> in respective provinces. We offer
                                personalized insurance advice to our Site visitors by offering them digital tools that can help assess their insurance needs
                                and suggest appropriate insurance products.</p>
                                <p>Our advice is based on information provided by Site visitors, third-party tools, data feeds, open source, and other
                                    partner data. We are not an insurance company, instead as a licensed insurance brokerage, we, and our representatives,
                                    provide you with recommendations about and facilitate the purchase of life and related insurance products from a
                                    broad set of insurance companies, licensed to sell insurance in your province. We strongly advise to consult a certified
                                    financial planner and your chartered professional accountants for a detailed advise on your financial situation and
                                    taxation guidelines.</p>
                                    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of our website,
                                       <a href="https://estatenest.ca">www.estatenest.ca</a>  accessible at </p>
                        <p>These Terms will be applied entirely and impact to your use of this Website. By using this Website, you are in complete
                            agreement to accept and recognize all terms and conditions written in here. You must not use Website if you disagree
                            with any of these Website Standard Terms and Conditions. If you disagree, please leave this website and or its pages.
                            Minors or people below 18 years old are not allowed to use this Website. If found using this website we sincerely
                            request the parents, and or guardians, and or any adult above 18 present with the minor(s) to kindly the request and ask
                            the minor(s) to close the website links.</p>
                            <h4 class="mt-4 mb-3">Intellectual Property Rights</h4>
                            <p>Other than the content you own, under these Terms, Estate Nest Inc. <a href="https://estatenest.ca">( www.estatenest.ca )</a> and/or its licensors own all
                                the intellectual property rights and materials contained in this Website.</p>
                                <p>You are granted limited license only for purposes of viewing the material contained on this Website.</p>
                
                                <h4 class="mt-4 mb-3">Restrictions</h4>
                                <p>You are expressly restricted from all the following:</p>
                                <ul class="restrictions">
                                    <li><p>Publication of the any of the Website material in any other media.</p></li>
                                    <li><p>Selling, sublicensing and/or otherwise commercializing any Website material.</p></li>
                                    <li><p>Publicly presenting and/or displaying any Website material.</p></li>
                                    <li><p>Using this Website in any way that is or may be damaging to this Website, and impacts user access to this
                                        Website.</p></li>
                                    <li><p>Using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or
                                        to any person or business entity.</p></li>
                                    <li><p>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this
                                        Website.</p></li>
                                    <li><p>Using this Website to engage in any advertising or marketing of any kind.</p></li>
                              <li><p>Certain areas of this Website are restricted from being access by you and Estate Nest Inc. may further restrict
                                access by you to any areas of this Website, at any time, in absolute discretion. The website and Estate Nest Inc
                                respects privacy laws within Canada and Canadian Anti-Spam Legislation (CASL), you must respect and adhere to
                                these and agree with these. If you disagree, we strongly recommend you stop the use of this website
                                immediately.</p></li>
                              <li><p>Perform any fraudulent and deceptive activity, including impersonating any individual or entity, claiming false
                                and misleading affiliations, accessing and retrieving the information from the accounts of other users without
                                consent, or falsifying and fabricating your own identity or any information about you, including name, age or
                                date of birth, sex, phone number, email, address; or other information.</p></li>
                            
                              
                                </ul>
                

                                <h4 class="mt-4 mb-3">What Services do we provide?</h4>
                                <p>The Services we provide include:</p>
                                <ul class="restrictions">
                               <li><p><b>Obtaining quotes – </b>We provide you with insurance quotes for the requested product issued by the life
                                insurance companies in Canada with whom we are contracted with. We allow you to save and retrieve such
                                quotes for easy future access.</p></li>
                                <li><p><b>Comparing policies –</b>We offer easy-to-use tools and summarized information to help you compare different
                                    policies and the quotes from the life insurance companies in Canada with whom we are contracted with.</p></li>
                                <li><p><b>Reviewing insurance needs –</b>We include informational and computational tools that offer recommendations to
                                    help you assess your insurance needs. The needs analysis is solely based on the information provided by the
                                    clients. Estate Nest Inc will not make an attempt and try to verify this information unless it is requested by the
                                    underwriters from the life insurance company. We assume at all the time the clients are telling the truth in
                                    regard to their current financial situation and their needs. If you disagree with our insurance needs policy, we
                                    strongly suggest you as a client to find another advisor and work with them and or their organization.</p></li>
                                <li><p><b>Proprietary content (“Content”) –</b>We offer easy-to-understand information material to disseminate knowledge
                                    and information about insurance products.</p></li>
                                <li><p><b>Buying insurance products –</b>As insurance brokers, we and our representatives facilitate purchase of life and
                                    related insurance products for your insurance needs.</p></li>
                               
                                </ul>
                                <h4 class="mt-4 mb-3">Your Content</h4>
                                <p>In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images, or
                                    other material you choose to display on this Website. By displaying Your Content, you grant Estate Nest Inc. a non-
                                    exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate, and distribute it in
                                    any and all media. Pursuant to the Canadian Anti-Spam Legislation (CASL), you as a client authorize Estate Nest Inc. to
                                    call, fax, and communicate with you electronically as may be required from time to time as a result of our relationship as
                                    Advisor and client. The client can unsubscribe at any time by following the unsubscribe instructions at the bottom of any
                                    emails if they receive. Your Content must be your own and must not be invading any third-party’s rights. Estate Nest Inc.
                                    reserves the right to remove any of Your Content from this Website at any time without notice.</p>
                                    <h4 class="mt-4 mb-3">Your Content</h4>
                                    <p>Please read our Privacy Policy.</p>
                                    <h4 class="mt-4 mb-3">No warranties</h4>

                                    <p>This Website is provided “as is,” with all faults, and Estate Nest Inc. express no representations or warranties, of
                                        any kind related to this Website <a href="www.estatenest.ca">( www.estatenest.ca )</a>or the materials contained on this Website. Also, nothing
                                        contained on this Website shall be interpreted as advising you with any financial advice. This is just for information
                                        purposes. As advised, please contact your Certified Financial Planner (CFP) and Chartered Professional Accountants
                                        (CPA), and Trust and Estate Practitioners for any detailed financial, tax and estate planning advice.</p>
                          
                                        <h4 class="mt-4 mb-3">Voluntary information</h4>
                                        <p>If you submit and propose any voluntary information and materials to us, including comments, ideas, questions, designs,
                                            and other similar communication, these terms and conditions are applicable to you. If you do not agree with these terms
                                            and conditions, you should not submit and propose any voluntary information through the website. All voluntary
                                            information provided will be considered non-confidential and non-proprietary in nature. This material provided at your
                                            own discretion may be used by us or our partners, for any purpose whatsoever, including, but not limited to,
                                            reproduction, disclosure, transmission, publication, broadcasting, and further posting. Moreover, we or our partners
                                            may use the ideas or concepts contained in the material, for any purpose whatsoever, including, but not limited to,
                                            developing and marketing products. By submitting any such voluntary information, we get irrevocable, royalty-free right
                                            to have the right to use, change, reproduce, change, publish, translate, distribute, transmit, publicly display, sublicense,
                                            create similar works from, and sell such voluntary Information and to use your name and your personally identifiable
                                            information along with this voluntary information. By submitting this voluntary information, you agree that Estate Nest
                                            Inc is not held responsible at any capacity in any legal way at all the times and you agree and acknowledge to limitations
                                            of liability under these terms and conditions. In no way and in no capacity, you can sue Estate Nest Inc. If not agreeing to
                                            this, please leave the use of this website immediately.</p>
                                            <h4 class="mt-4 mb-3">Email</h4>
                                            <p>We will not accept transactions or instructions by Internet email messages. However, questions of a general nature or
                                                inquiries may be communicated by sending us an email. Any communication transmitted to us by electronic means
                                                becomes the property of Estate Nest Inc may be used for any purpose. We are free to use any idea contained in any
                                                communication sent to us for any purpose whatsoever, including, but not limited to, developing, manufacturing and
                                                marketing products using such information. Please note by submitting the information to us using the forms on this
                                                website you agree to Canadian Anti-Spam Legislation (CASL), you as a client authorize Estate Nest Inc. to call, fax, and
                                                communicate with you electronically as may be required from time to time as a result of our relationship as Advisor and
                                                client. Sending any voluntary ideas to us using these forms you completely agree and acknowledge that the ideas are
                                                just voluntary information that you willingly offered to Estate Nest Inc and all the terms and conditions will apply
                                                including the limitations of liability. In no way and in no capacity, you can sue Estate Nest Inc. If not agreeing to this,
                                                please leave the use of this website immediately.</p>
                                                <h4 class="mt-4 mb-3">How will we communicate with you?</h4>
                                                <p>Communication we send to you may be electronic and you agree that we have no obligation to send you paper
                                                    communication. Electronic communication will be sent to you at the primary email address provided by you. Other than
                                                    to service legal proceedings, we are not obliged to receive paper correspondence from you. If you wish to contact us,
                                                    you may email us at <a href="hello@estatenest.ca">hello@estatenest.ca</a> For providing the service we will use the information provided by you on by
                                                    filling the forms on this website and we will call you and or email you. The Canadian Anti-Spam Legislation rules apply,
                                                    and we consider you filling the forms as a written consent to call you and or email you. If you disagree with any of these
                                                    terms and conditions, we strongly advise you to leave the website immediately and please do not fill in any of the forms.</p>
                                                
                                                    <h4 class="mt-4 mb-3">Website Security</h4>
                                                    <p>We maintain commercially fair administrative, physical, and technical safeguards intended to prevent any
                                                        unauthorized use, access, processing, destruction, loss, alteration, or disclosure of the data and information you as a
                                                        client will provide us. In the event that any data or information under our control is compromised as a result of a breach
                                                        of security, we will investigate and examine the situation and where appropriate, notify those individuals and or clients
                                                        whose information may have been compromised and take the necessary steps, in accordance with any applicable laws
                                                        and regulations.</p>
                                                        <h4 class="mt-4 mb-3">Viruses</h4>
                                                        <p>There is no liability for loss cause by virus, or technologically harmful material that may infect your computer, programs
                                                            or data due to use of our website or to any website linked to our website. There is no guarantee that our website will be
                                                            free from viruses. The responsibility to configure your IT systems, computer programs and platform required to access
                                                            our site is solely on you and your responsibility to have the essential software that will keep your device free of any
                                                            viruses. You are requested to use your own virus protection software at all the times.</p>

                                                            <h4 class="mt-4 mb-3">Complaints</h4>
<p>We aim to provide the best customer service to our clients, but we realize that there may be times where we may not
    be able to meet your expectations since no one is perfect. If you are not pleased with our services, feel free to write
    down to customer service at hello@estatenest.ca. We will take all the essential steps instantly and answer as soon as
    feasible.</p>
    <h4 class="mt-4 mb-3">Limitation of Liability</h4>

<p>In no event shall Estate Nest Inc., nor any of its officers, directors, and employees, shall be held liable for
    anything arising out of or in any way connected with your use of this Website whether such liability is under contract.
    Estate Nest Inc., including its officers, directors and employees shall not be held liable for any indirect, consequential, or
    special liability arising out of or in any way related to your use of this Website.</p>

<p>The information provided by the clients using the forms on this website, will help the advisor(s) from Estate Nest
    Inc to analyse and then recommend a financial product [insurance (Life Insurance, Critical Insurance, Disability
    Insurance, Funeral Insurance etc.) and or segregated investment] to the client to provide protection and coverage for
    the client’s family, solely on the basis of the information provided by the client the date the client uses the form. By
    providing the information client also willingly agrees and acknowledges the use of this website and its terms and conditions. It is solely the responsibility of the client to accept and or disregard his suggestions at their own risk. The
    client here by assume all the legal responsibility for their decisions and in no way will held Estate Nest Inc and its
    advisor(s) responsible for the suggestions and or any recommendations. Failure to acknowledge this will and agree to
    these terms and conditions, it is recommended the client can have any other advisor serve them within the industry.</p>

    <h4 class="mt-4 mb-3">Indemnification</h4>
    <p>You hereby fully indemnify Estate Nest Inc. from and against any and/or all liabilities, costs, demands, causes of
        action, damages and expenses arising in any way related to your breach of any of the provisions of these terms and
        conditions.</p>
        <p>You also agree to defend, indemnify, release and discharge, to the fullest extent permitted by law, Estate Nest
            Inc. and its affiliates, officers, directors, employees, agents, consultants, and shareholders, and any other person or
            entity that directly or indirectly controls, is under common control with, or is directly or indirectly controlled by, Estate
            Nest Inc and each of their respective successors, assigns, heirs and legal representatives (“Estate Nest Inc Parties”) as
            well as any third party providers of Site Content (“Third Parties”, and with Estate Nest Inc Parties, collectively, the “Site-
            Related Parties”), harmless from any responsibility, liability, claim, demand, action, cause of action, or damage (actual or
            consequential) of every kind and nature, known or unknown, including but not limited to reasonable attorneys’ fees and
            claims of negligence, arising out of or related to your breach of these Terms or your use or misuse of the Services, the
            Site Content or the Site.</p>
<p>To the maximum extent permitted by law, the Site-Related Parties shall not be liable for (a) any indirect,
    incidental, exemplary punitive, or consequential damages of any kind whatsoever, (b) loss of profits, revenue, data, use,
    goodwill, or other intangible losses, (c) damages relating to your access to, use of, or inability to access or use the
    Services, (d) damages relating to any conduct or content of any third party or user using the Services, including without
    limitation, defamatory, offensive or illegal conduct or content, and/or (e) damages in any manner relating to any Site
    Content. This limitation applies to all claims, whether based on warranty, contract, tort, or any other legal theory,
    whether or not we have been informed of the possibility of such damage.</p>
    <p>Where a remedy set forth herein is found to have failed its essential purpose, to the maximum extent permitted
        by law, the total liability of Site-Related Parties for any claim under these Terms, including for any implied warranties, is
        limited to 25 Canadian dollars (Canadian $25 only).</p>
        <p>You are in complete agreement not to use our site for commercial or business use. We have no liability to you
            for any business losses. We do not take on or assume any responsibility for any harm, loss, or corruption to you, your
            computer, or your data (or any third party data or computer) from your use of the Services. The Content on the Site is
            for convenience and information purposes only. Nothing on therein should be construed as rendering tax, legal,
            investment, or accounting advice. The posting of any prospectus or any other information is not a recommendation or
            opinion for you to buy or sell any product or participate in any transaction. As suggested and advised please contact
            your Certified Financial Planner, Chartered Professional Accountant, and Trust and Estate Practitioner for any guidance
            in regards to financial planning, taxation rules and guidance, and anything to do with Estate Planning respectively.</p>

            <h4 class="mt-4 mb-3">Severability</h4>
            <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without
                affecting the remaining provisions herein.</p>
                <h4 class="mt-4 mb-3">Variation of Terms</h4>
                <p>Estate Nest Inc. is permitted to revise these Terms and Conditions at any time as it sees fit, and by making use of this
                    Website you are expected and suppose to regularly review and check these Terms and Conditions on a consistent basis.</p>
                    <h4 class="mt-4 mb-3">Assignment</h4>
                    <p>The Estate Nest Inc. is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms and
                        Conditions without any notification and announcement. However, you are not permitted and authorized in any capacity
                        to assign, transfer, or subcontract any of your rights and/or obligations under these Terms and Conditions.</p>
                                   
                        <h4 class="mt-4 mb-3">Entire Agreement</h4>
                        <p>These Terms constitute the entire agreement between Estate Nest Inc. and you in relation to your use of this Website
                            and supersede all preceding agreements, interpretations, and understandings.</p>
                    
                            <h4 class="mt-4 mb-3">Copyright and trademarks</h4>
                            <p>All contents of this Site are the copyright of Estate Nest Inc. and are protected under the copyright laws of Canada,
                                except third-party trademarks or service marks, which are the property of their respective owners which we have used
                                under license agreements from them. We may, in our sole discretion and preference, suspend or discontinue or
                                terminate the Site, the Services, or any Site content at any time without prior notice. We do not give you the consent and the permission and you may not mirror, reproduce, alter, distribute and circulate, transmit, post, or use the Site
                                content in any other media without our prior written consent of Estate Nest Inc.</p>
                    
                                <h4 class="mt-4 mb-3">Governing Law &amp; Jurisdiction</h4>
                    <p>These Terms will be governed by and interpreted in accordance with the laws of the Province of Alberta, and you submit
                        to the non-exclusive jurisdiction of the provincial and federal courts located in Canada for the resolution of any disputes.
                       <b>© 2022 Estate Nest Inc. All rights reserved. | Code of Ethics | Privacy | Terms of Use</b> </p>
                    
                    </div>
            </div>
        </div>
    </div>
</main>
