<main>
   <div class="background banner-About aboutr " style="background-image:url(./assets/images/investmentbac.jpg)">
   </div> 
 
         
        <!---  <section class="Investment">
       <div class="background icon-back" style="background-image:url(./assets/images/icons-life-bak.jpg)">
           <div class="container">
           <div class="best-services">
          <h5>BEST SERVICES FOR YOU</h5>
          <h2>What We Provide</h2>
           </div>
          
             </div> 
             </div> 
             </section> -->
             <section class="invetmente-fucher">
                <div class="container">
                   <div class="investmentheadding">
                  <h3>Investment Holdings </h3>

                   </div>
                   <div class="row">
                      <div class="col-md-8 offset-md-4  m-md-auto">
                        <div class="car-box bod mt-3 mb-3">
                           <div class="car-content">
                            <h4>Wealth Management</h4>
                            <p>We at estate nest offer professional service with a blend of safeguarding your life and your financial assets to help you and your family achieve your retirement goals with strategic planning around your unique financial needs. Our aim is to strategize financial plan during buildup years to make sure your investment holdings have the anticipated longevity and endurance to outlast your retirement years and transfer your estate to your loved ones

                           </p>

                              </div>
                              </div>
                      </div>
                      <div class="col-md-8 offset-md-4  m-md-auto">
                      <div class="car-box bod">
                        <div class="car-content">
                          <h4>Segregated Funds</h4>           
                           <p>A valuable and niche estate planning tool presented by Canadian insurance companies that safeguard monetary investment assets with the insurance guarantee</p>
                           </div>
                           </div>
                        </div>
                   </div>
                   <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="living-b">
                           <img src="assets/images/investments.png" alt="Old Age Security">
                           <h3><b>Old Age Security</b></h3>
                        </div>    
                     <div class="car-box bod">
                        <div class="car-content">
                           <li><p>Taxable compensation to Canadians 65 years or older with salary less than $ 129,757</p></li>
                           <li><p>Basic amount is $ $733.51 per month above the age of 75 and $666.83 between the age of 66 and 74 as of 2021-2022- Amounts are indexed to Canadian Consumer Price Index and are attuned on a quarterly basis
                           </p></li>
                           <li><p>No revenue splitting and no survivor reimbursements
                           </p></li>
                           <li><p>OAS Claw-back occurs over $ $79,845 income (as of 2021) and an individual must refund a part of their OAS at 15% of the net income
                           </p></li>
                           <li><p>Must meet the entitlement rules to be qualified to OAS [more information available on Government of Canada website]
                           </p></li>
                        </div>
                     </div>
                     </div>
                      <div class="col-md-6 mb-4">
                        <div class="living-b">
                           <img src="assets/images/estate-planning.jpg" alt="Canada Pension Plan CPP">
                           <h3><b>Canada Pension Plan or Quebec Pension Plan
                           </b></h3>
                        </div> 

                        <div class="car-box bod">
                           <div class="car-content">
                              <li><p>Canada's contribution dependent retirement income system that forms the backbone of Canadians’ social insurance plan set up by the federal government.
                              </p></li>
                                <li><p>CPP gets subsidized by contribution grants of workforces', companies, entrepreneurial and freelancers’ as well as revenue generated on CPP investments Province of Quebec have their own plan – QPP
                              </p></li>
                              <li><p>Canadians above 18 years of age are mandated to contribute a fraction of their wage to federal government managed pension plan [more information available on Government of Canada website]
                              </p></li>
                              </div>
                              </div>

                     </div>
                   
                     <div class="col-md-12 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
                             <h4>Registered Retirement Savings Plan - RRSP <img src="assets/images/RRSP.jpg" alt="Registered Retirement Savings Plan"></h4>
                             <li><p>Tax-adjourned savings program designed by the government of Canada encouraging Canadians to economize, save and capitalize for retirement. Contributions within RRSP are tax deductible. There is an annual limit of 18% of eligible income up to $ 29,210 for the year 2022. This limit is called contribution room or contribution limit
                           </p></li>
                           <li><p>Unused RRSP contributions can be carried forward to the subsequent following year
                           </p></li>
                           <li><p>Contributions can be made for spouses as spousal RRSPs by the spouse with the higher salary. These contributions are tax-deductible to contributing partner. It is one of the efficient ways of splitting income in retirement. Please refer to three-year attribution rule on CRA website to understand the withdrawals from spousal RRSP contributions
                           </p></li>
                           <li><p>RRSP contributions can be used as down payment for first time home buyer under home buyers plan – maximum loan amount available to buyers is $ 35,000 for an individual and $ 70,000 for the couple for the year 2022 – loan must be repaid in 15 years
                           </p></li>
                           <li><p>RRSP contributions can be used for lifelong learning plan – maximum loan amount available while enrolled in education is $ 10,000 – loan must be repaid in 10 years
                           </p></li>
                           <li><p>RRSP withdrawals are taxable income
                           </p></li>
                           <li><p>RRSP gets converted to Registered Retirement Income Fund at the age of 71
                           </p></li> 
                     </div>
                     </div>         
                     </div>
                     <div class="col-md-12 mb-4">


                        <div class="car-box bod">
                           <div class="car-content">
                                   <h4>Registered Education Savings Plan - RESP  <img src="assets/images/RESP.jpg" alt="Registered Retirement Savings Plan"></h4>
                                   <li><p>RESP is an ideal financial tool offered by the government of Canada to support families put aside funds to lay the groundwork for their kid’s strong and bright educational future in life
                                 </p></li>
                                 <li><p>Parents acknowledge the tax-sheltered environment to stockpile and capitalize funds and take complete advantage of government grants for their angels (kids)
                                 </p></li>
                                 <li><p>RESP providers are financial institutions that can assist families to open RESP accounts; can be either bank, credit unions, group plan dealers, insurance companies
                                 </p></li>
                                 <li><p>The subscriber registers the RESP contract with sponsor and names one or more beneficiaries under the RESP plan
                                 </p></li>
                                 <li><p>RESP contributions are matched by government grants – Canadian Education Savings Grant (CESG) and Canadian Learning Bond (CLB). CESG is 20% of the contribution and with a maximum of $500 per year and $ 7,200 lifetime. CLB is to encourage low-income families to contribute to RESP
                                 
                                 </p>
                                 <p>Funds within RESP can be invested in mutual funds, segregated funds, stocks, GICs, bonds etc.</p>
                                 <p>RESPs have administrative fees; therefore, it is important to take time to read before countersigning the contract</p>
                                 <P>Penalties may be applied if regular payments to RESPs are stopped and or accounts are closed</P>
                                 
                                  
                              </li> 
                              </div>
                              </div>

</div>

                              <div class="col-md-12 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
                                   <h4>Locked in Retirement Account - LIRA <img src="assets/images/LIRA.jpg" alt="Locked In Retirement Account"></h4>
                                   <li><p>LIRA is designed to accumulate and holds pension funds in a company’s pension plan for employees (defined benefit or defined contribution plan) when you are no longer employed for that company and are not the part of their pension plan and are not retired
                                 </p></li>
                                 <li><p>Cannot make any contributions and cannot make withdrawals to funds within LIRA
                                 </p></li>
                                 <li><p>LIRA is guided by pension laws. It is registered provincially and is subject to the rubrics and protocols by the laws of that province.
                                 </p></li>
                                 <li><p>Funds within LIRA are not entitled to any home buyers or lifelong learning
                                 </p></li>
                                 <li><p>LIRA gets converted to Life Income Fund (LIF) or Locked Retirement Income Fund (LRIF) at the retirement. The earliest age to convert is 55 and the latest it can be done by 71 years of age
                                 </p></li> 
                              </div>
                              </div>
                     </div>
                     <div class="col-md-6 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
                             <h4>Life Income Fund - LIF <img src="assets/images/SegInv1.jpg" alt="Life Income Fund"></h4>
                             <li><p>The plan offered by the government of Canada that is designed to create regulated retirement income for pension funds
                           </p></li>
                             <li><p>LIF is a treasured thought of consideration for Canadians with a Defined Contribution Pension Plan
                           </p></li>
                             <li><p>Assets within LIF can be invested n GICs, Mutual Funds, Segregated Funds, Stocks, etc.
                           </p></li>
                              </div>
                              </div>
                     </div>

                     <div class="col-md-6 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
                              <h4>Registered Retirement Income Fund - RRIF <img src="assets/images/SegInv2.jpg" alt="Registered Retirement Income Fund"></h4>
            <li><p>The tax-deferred plan offered by the government of Canada, designed to generate revenue from savings amassed within Registered Retirement Savings Plan</p></li>
            <li><p>RRIF is regulated by the Canada Revenue Agency (CRA), designed for steady retirement income
            </p></li>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p></li>
                              </div>
                              </div>
                     </div>

                     <div class="col-md-6 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
                              <h4>Tax-Free Savings Account - TFSA <img src="assets/images/TFSA.jpg" alt="Tax Free Savings Account"></h4>
            <li><p>Tax-Free Savings Account is the government of Canada’s tax-sheltered savings program started in the year 2009 encouraging Canadians to economize, save and capitalize for short-term like emergency funds, and long-term goals like retirement.
            </p></li>
            <li><p>The TFSA account can be opened at the age of 18 by Canadians. The contribution limit for the year 2019 is $ 6,000. This limit  is decided by   Government of Canada  and shall be verified   before opening the account from the Government   of   Canada 's  website.
            </p></li>
            <li><p>Since contributions are after tax within TFSA account the interest earned or capital gains for investments within TFSA and the withdrawals from TFSA are all tax-free.
            </p></li>
            <li><p>You  need a valid Social Insurance Number to  open  and set the money tax-free throughout the lifetime.
            </p></li>
                              </div>
                              </div>
                     </div>
                     <div class="col-md-6 mb-4">
                        <div class="car-box bod">
                           <div class="car-content">
<h4>Non-Registered Account <img src="assets/images/NON-REG.jpg" alt="Non-Registered Account"></h4>

<li><p>Investment holding accounts offered by financial institutions for Canadians.
</p></li>
<li><p>Usually opened by an individual after maximizing their RRSP and TFSA contributions and the individual still has capital funds to invest
</p></li>
<li><p>Non-Reg accounts have the suppleness and flexibility with steady liquidity and no set rubrics for contribution and limits
</p></li>
<li><p>Capital gains from investments within non-registered accounts are taxable at 50% of the account holder’s marginal tax rate
</p></li>
</div>
</div>
                     </div>
                   </div>
                </div>
             </section>
             <div class="segreated-we bottomSections">
                <div class="container">
                   <div class="row">
                      <div class="col-12">
             <h2>SEGREGATED FUNDS</h2>
             <div class="car-box bod">
               <div class="car-content">
                  <h4> <img src="assets/images/SegInv1.jpg" alt="Bypass Probate "></h4>
             <li><p>Bypass Probate</p></li>
              <li><p>Creditor and liability protection</p></li> 
               <li><p>Securing your principal investment against market volatility</p></li>
               <li><p>Reset option allowing the holder to lock in market gains</p></li>

            </div>
               


                 </div> 
                 </div>
                 </div>
               </div>
            </div>
          </main>  