<main>
    <div class="background banner-About aboutr " style="background-image:url(./assets/images/AboutEstateNest1.jpg)">
     </div> 
 
         
      <section class="Insurance-section">  
           <div class="container">
           <div class="Insurance-maintitle"> 
          <h2>Peace of Mind</h2>
              </div>
          
              <div class="row">   
              <div class="col-md-4 col-sm-12">
                 <div class="peace-box">
                 <img src="assets/images/nyc-ican-1.png" alt="Protecting Loved Ones">
                 <h5>Protecting Your Loved Ones Is Affordable & Easy</h5>
                 
                  </div> 
              </div> 
              
              <div class="col-md-4 col-sm-12"> 
                 <div class="peace-box">
                 <img src="assets/images/nyc-ican-2.png" alt="Insurance Made Simple">
                 <h5>No Headaches It's Just Insurance</h5>
                 
                  </div> 
              </div> 
              
              <div class="col-md-4 col-sm-12">
                 <div class="peace-box">
                 <img src="assets/images/nyc-ican-3.png" alt="Plan Future">
                 <h5>Let's Plan The Future Together </h5>
                 
                  </div> 
              </div>  
             </div> 
             </div>  
             </section>
             <div class="Aliquam">  
                 <div class="container">
                     <div class="coverages">
                     <h2 class="text-center"> <b>What Type of Insurance Do I Need</b>
                         </h2> 
                         <div class="flekimg">
                             <div class="living-b"><img src="assets/images/EstateNestServices.png" alt="Life Insurance"> <h3><b>Life Insurance</b></h3></div>	
 
                             <div class="living-b"> <img src="assets/images/LivingBenefits.jpg" alt="Living Benefits"><h3><b>Living Benefits</b></h3></div>
                              
                         </div>
                     
                     </div>
                     <div class="living-c">
 
                         <h3><b>Life Insurance</b></h3>
                     </div>
             <div class="row mb-5">    
                    
                 <div class="col-md-6 col-sm-12 mb-4"> 
                 <div class="car-box bod">
                    <div class="car-content">
                       
                     <h4> Term Insurance</h4>				
                    <p>Temporary coverage to protect your loved ones from  any unforeseen catastrophic event
                        No cash value
                        Renewable & Convertible</p>
                    </div>
                    </div>  
                    </div> 
                    
                    
                               
                    
                    
                 <div class="col-md-6 col-sm-12 mb-4"> 
                 <div class="car-box"> 
                    <div class="car-content">
                     <h4>Universal Life Insurance</h4>				
                    <p> 
                        Permanent insurance to protect your loved ones
                        Cash Value built in the policy with investment component
                        Accumulate wealth tax-free, within limits set by the government
                        Withdraw cash or borrow from your policy, with certain tax  implications 
                        Flexible premiums</p>
                    </div>
                    </div>  
                    </div> 				
                    
                    
                    
                 <div class="col-md-6 col-sm-12 mb-4"> 
                 <div class="car-box bod">  
                    <div class="car-content">
                     <h4>Whole Life Participating Life Insurance</h4>				
                    <p>Permanent insurance to protect your loved ones
                        Cash Value guarantees
                        Non-guarantee cash value built in the policy through dividends because of the participating nature of the policy
                        Preserve an inheritance
                        cash surrender value of their life insurance policy as collateral for a tax-free bank loan</p> 
                    </div>
                    </div>  
                    </div> 				
                    
                    
                    
                 <div class="col-md-6 col-sm-12 mb-4"> 
                 <div class="car-box"> 
                    <div class="car-content">
                     <h4>Simplified Life INSURANCE</h4>				
                    <p>For people who are hard to insure (have certain medical conditions) where traditional life insurance can be declined  or highly rated
                        Non-Medical Insurance by answering a few medical questionnaire in regard to the insured’s health</p>
                </div></div></div></div>
 
 <div class="Living-Benefits">
 
              <div class="living-c">
                 <h3><b>Living Benefits</b></h3>
             </div>
 
                     
                <div class="row">     
                    <div class="col-md-6 col-sm-12 mb-4"> 
                    <div class="car-box bod">  
                       <div class="car-content">
                         
                        <h4>Critical Insurance</h4>				
                       <p>Covers 25 medical critical conditions
                        Options for return of premiums at death and or at cancellation
                        Tax-free lumpsum claim insurance proceeds once the waiting period of 30 days survival is achieved from the time of the diagnosis of the critical insurance</p>
                       </div>
                       </div>  
                       </div>   
                    <div class="col-md-6 col-sm-12 mb-4"> 
                    <div class="car-box"> 
                       <div class="car-content">
                        <h4>Disability Insurance</h4>				
                       <p> 
                        Protect a portion of your income if you are unable to work due to disability (injury or illness)
                        Disability can be short-term or long-term hence making disability insurance one of the most important plans while discussing financial needs analysis</p>
                       </div>
                       </div>  
                       </div> 				
                       
                       
                       
                    <div class="col-md-6 col-sm-12 mb-4"> 
                    <div class="car-box bod"> 
                       <div class="car-content">
                        <h4>Health and Dental Benefits</h4>				
                       <p>Covers medical costs not covered by your provincial health plans
                        Covers extra drug costs, dental costs and or both</p> 
                       </div>
                       </div>  
                       </div> 				
                       
                       
                       
                    <div class="col-md-6 col-sm-12 mb-4"> 
                    <div class="car-box">   
                       <div class="car-content">
                        <h4>Travel and Super-Visa INSURANCE</h4>				
                       <p>Unanticipated unforeseen trip interruptions that can be triggered by emergency medical expenses, trip cancellation, luggage losses and damage, flight delays, travel accident, and death and more wherever you travel
                        Planning to visit Canada or calling your family, friends, parents, and grandparents super-visas then you need the visitor to Canada travel coverage. The pre-existing medical conditions will be covered if the medical conditions are stable for 180 days prior to coverage
                        Emergency coverage up to 150000 CAD is available and the premiums depend on deductibles chosen at the time of application</p>
                   </div></div></div></div>
                 </div>
 </div>
 </div>
             <section class="protect"> 
             <div class="container"> 
          <div class="background protect-after" style="background-image:url(./assets/images/1.jpg)"> 
             <div class="protect-img">
                 <div class="inner">
 
 
 
 <h2 class="sub-line"><b>  Conclusion <br> You Need Life Insurance and Living Benefits because... </b></h2>
 <ul>
 <li><p>Life Insurance claims are tax-free proceeds to the beneficiary </p></li>
 <li><p>You are starting a family</p></li>
 <li><p>Funds help keep paying your home mortgage and other liabilities</p></li>
 <li><p>Funds help maintain the current standard of living if there is an untimely demise or in an event where disability and critical illness is diagnosed</p></li>
 <li><p>Funds help paying off the debts, estate taxes, and the final expenses</p></li>
 <li><p>Life insurance proceeds create a fund for kids’ education</p></li>
 <li><p>Life insurance proceeds create a fund for kids’ education</p></li>
 <li><p>Life insurance proceeds create a fund for family member with special needs</p></li>
 <li><p>Funds protect your family’s dreams</p></li>
 <li><p>Life insurance proceeds donated to the charity, decreases the amount of estate taxes</p></li>
 </ul>
                 </div>
                </div>
                
             <div class="protect-content"> 
             <h4>When road is long – safeguarding your family & securing your assets<br>
                 means<br>
                 "Increasing Your <b>LiFELiNE</b>"<br>
                 Get Insured</h4> 
                 <a  href="https://estatenest.ca/get-quote/">Get a Quote</a>  
                 <div class="lifeline-img">
                     <img src="assets/images/ceo.png" alt="Family Harmony">
                 </div>
                 </div>   
                 </div>  
                 </div> 
                 </section>
                     
 
             
                     
             <section class="car-insurance">
              <div class="container">  
              <div class="types">
                 <h4>Risk Management<span><br>Financial Needs Analysis</span></h4>
                 <div class="an-overview">
                  <p>An overview of your current and future financial situation (Create Form)</p> 
                  <div class="Contact-form">  
                     <a href="#" class="drop-us">Drop us a line</a>  
                     <div class="row">   
                     <div class="col-md-6 col-sm-12">  
                       <input type="text" class="form-control" placeholder="Your Name *">
                     </div>
                      
                     <div class="col-md-6 col-sm-12">  
                        <input type="text" class="form-control" placeholder="Your Email *">
                     </div>
                     
                     <div class="col-md-6 col-sm-12"> 
                        <input type="tel" class="form-control" placeholder="Your Phone">
                     </div>
                      
                     <div class="col-md-6 col-sm-12"> 
                        <input type="text" class="form-control" placeholder="Subject">
                     </div>
                             
                     <div class="col-md-12 col-sm-12"> 
                      <textarea class="form-control" id="validationTextarea" placeholder="Your Message ..."></textarea>
                       </div> 
                       </div>
                       <!-- <iframe src="http://estatenest.ca/blog/future-financial/" scrolling="no" class="financial" style="width:100% ; border: none;"></iframe> -->
                       <a href="#" class="view-contact">Contact Us</a>
                        <p>Your data is secure with us. We do not sell your data. *All fields required. 
                        By clicking “Submit”, I as a client consent to the collection and use of my name and email address by the Estate Nest Inc. Pursuant to the Canadian Anti-Spam Legislation (CASL), you authorize Estate Nest Inc. to call, fax, and communicate with you electronically as may be required from time to time as a result of our relationship as Advisor and client. I can unsubscribe at any time by following the unsubscribe instructions at the bottom of any emails if I receive. For more information on our privacy practices, code of ethics, and terms of use.
                        </p>
                       
                 </div>
                </div>
                 </div>
             </div>		
                	
             </section>
          </main>