<main>
    <div class="pravacy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="mt-3 mb-3">Privacy</h5>
                    <h1 class="mt-4 mb-4">ADVISOR PRIVACY STATEMENT AND CONSENT</h1>
                    <p class="mt-2 mb-2">For Collection, Use, Retention &amp; Disclosure of Personal Information (PI)</p>
                <h4 class="mt-4 mb-2">Commitment to Protecting your Privacy:</h4>
                <p>Estate Nest Inc makes best efforts to comply with the federal<a href="https://laws-lois.justice.gc.ca/ENG/ACTS/P-8.6/index.html" target="_blank"> Personal Information and Electronic Documents Act</a>
                    (PIPEDA) and applicable provincial privacy laws. Estate Nest Inc strive to maintain the highest standards of
                    confidentiality to ensure the protection of your personal information (PI). Estate Nest Inc also adhere to the <a href="https://fightspam.gc.ca/eic/site/030.nsf/eng/home" target="_blank"> Canadian
                    Anti-Spam Legislation and Regulations </a>(CASL) and will only communicate electronically with your consent or where the
                    information provided is necessary to the on-going good standing status of your policy.</p>
                <h4 class="mt-4 mb-2">Accountability:</h4>
                <p>Estate Nest Inc is responsible for the PI that Estate Nest Inc receives from you. Estate Nest Inc will take appropriate and
                    reasonable measures to safeguard the information in whatever form it is held.</p>
                    <h4 class="mt-4 mb-2">Limiting Use, Disclosure, and Retention:</h4>
                    <p>Personal information shall not be used or disclosed for purposes other than those for which it was collected, except with
                        the consent of the individual or as required by the law.</p>
                        <h4 class="mt-4 mb-2">How Estate Nest Inc Protect Your PI:</h4>
                        <p>All employees, associated advisors, wholesale organizations and suppliers that are granted access to client records are
                            required by law and regulation to keep this information protected and confidential and to use the information only for
                            the purposes identified. Estate Nest Inc have established physical and systems safeguards, along with proper processes,
                            to protect client information from unauthorized access or use. Estate Nest Inc will not sell your PI to anyone, nor will
                            Estate Nest Inc share your PI with organizations outside of their relationship with you that would use it to contact you
                            about their own products or services.</p>
                            <h4 class="mt-4 mb-2">Your Privacy Choices:</h4>
                            <p>You may withdraw your consent, which allows Estate Nest Inc to retain your PI on file, at any time (subject to legal or
                                contractual obligations) by providing me with reasonable notice. Withdrawing your consent may prevent Estate Nest Inc
                                from providing you as a client with appropriate updates on products or services which may be in your best interests
                                and/or fit into your long-term financial plan. It is the sole resposnible of the client to consult their Certified Financial Planner and the Chartered Professional Accountant for detailed financial plannning.</p>
                                <h4 class="mt-4 mb-2">Your Right to Complain:</h4>
                                <p>You have the right to complain confidentially to me, to the insurer and to the Privacy Commissioner of Canada where
                                    you believe there has been a breach of your PI to an unauthorized party.</p>
               
               
                                    <h4 class="mt-4 mb-2">How Estate Nest Inc Collect, Use, Share, Disclose and Retain Your Information:</h4>
                <p>With your consent, Estate Nest Inc will collect information that helps its advisor(s) formulate advice and a
                    recommendation of the most suitable products or services available to purchase through me. Estate Nest Inc collect all
                    personal and corporate information including related personal details, financial and health information and use and
                    retain it solely for the purposes of providing advice. Estate Nest Inc convey your PI to Insurers through wholesale
                    organizations known as Managing General Agencies (MGAs), which are contracted to provide administrative services to
                    them. The Managing General Agency through which Estate Nest Inc conduct business is named Financial Horizons.
                    Estate Nest Inc may share this information with others to obtain help in areas outside of my areas of expertise. Estate
                    Nest Inc is required to retain much of the information Estate Nest Inc collect for regulatory reasons including
                    demonstrating that the recommendations Estate Nest Inc make are suitable and have address your identified needs.</p>
               <ul class="consent-list">
                   <li><p>To provide accurate, current, and updated information throughout our business relationship as your
                    circumstances change,</p></li>
                    <li><p>To allow the advisor(s) to use, share and disclose this information on an as-needed basis with my suppliers,
                        associates, and wholesale organizations, which may retain some information on file for future use and reference
                        by me, my suppliers, and any assignees,</p></li>
                        <li><p>To allow the advisor(s) to retain your PI including, health information as detailed on your applications and any
                            financial details you have provided, in my records for as long as Estate Nest Inc am your advisor or have a business
                            or regulatory need to retain the information; and</p></li>
                            <li><p>To the assignment of your file, including your PI, to another agent and/or agency, to continue to service your
                                needs, in the event that Estate Nest Inc become incapacitated, die or retire. You will, however, have the right to
                                choose your own agent, should you not agree to the agent chosen for the re-assignment.</p></li>
                                <p>You may request access to your personal and other information, use and disclosure of that information by sending your
                                    request to me/our office. You will be given reasonable access to your information and will be entitled to challenge the
                                    accuracy and completeness of the information and to have it amended as appropriate. You can help maintain the
                                    accuracy of your information by notifying me/us of any changes as they occur.</p>
               </ul>
               <h4 class="mt-4 mb-2">Compliance with Canadian Anti-Spam Law and its regulations (CASL)</h4>
               <p>Pursuant to the Canadian Anti-Spam Legislation (CASL), you authorize Kanwar Sharma co Estate Nest Inc. to call, fax,
                and communicate with you electronically as may be required from time to time as a result of our relationship as Advisor
                and client. The client consents to receiving electronic communications from the Advisor about their insurance needs,
                coverage and information about products and services that might bene/fit the clients. The client understands that may
                withdraw their consent at any time.</p>
                <h4 class="mt-4 mb-2">Client Consent:</h4>
                <p>Estate Nest Inc is aware that the advisor is required to obtain my consent to use my personal information under the
                    Personal Information Protection and Electronic Documents Act (PIPEDA). Until advised otherwise, you have my consent
                    to collect, use, share, disclose and retain my PI as described above. Your data is secure with us. We do not sell your data.
                    *All fields required to fill the forms, wherever applicable on the website of Estate Nest Inc.</p>
                                </div>

                                <div class="notes">
                                    <img src="assets/images/logo.svg" alt="Estate Nest Logo">
                                    <p><b>Note:</b> By clicking “Submit”, I as a client consent to the collection and use of my name and email address by the Estate
                                        Nest Inc. Pursuant to the Canadian Anti-Spam Legislation (CASL), you as a client authorize Estate Nest Inc.
                                        to call, fax, and communicate with you electronically as may be required from time to time as a result of
                                        our relationship as Advisor and client. The client can unsubscribe at any time by following the unsubscribe
                                        instructions at the bottom of any emails if they receive.</p>
                                </div>
            </div>
        </div>
    </div>
</main>